{
    auto_https off
}

:{$PORT} {
    root * public
    encode zstd gzip
    
    # Manejar archivos estáticos primero
    @static {
        file
        path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.ttf *.eot
    }
    handle @static {
        file_server
    }
    
    # Manejar PHP y rutas de Laravel
    handle {
        php_server
        try_files {path} /index.php?{query}
        file_server
    }
}
