{
	auto_https off
}

:{$PORT} {
	bind 0.0.0.0
	root * public
	
	@static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.ttf *.eot
	}
	handle @static {
		file_server
	}

	handle {
		try_files {path} /index.php?{query}
		php_server
		file_server
	}
}
