{
	auto_https off
}

:{$PORT} {
	root * public
	encode zstd gzip

	@static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.ttf *.eot
	}
	handle @static {
		file_server
	}

	handle {
		php_server
		try_files {path} /index.php?{query}
		file_server
	}
}
